body {
    background-color: #F8F9FC;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
}

.jumbotron {
    background-image: url("../template/jumbotron.png");
    background-size: cover;
}

.modal {
    text-align: center;
}

.modal-header,
.modal-footer {
    background-color: #F8F9FC;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}